<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="commercepundit_desingservice" frontName="commercepundit_desingservice">
            <module name="SprintMind_MgentoModule" />
        </route>
    </router>
</config>