<?xml version="1.0"?>
<!-- Backend tasks:
 * Create a new custom product attribute product_badge using Magento Data Patch.

Requirements:
- Attribute type should be text
- Attribute should be visible in admin product edit page
- Add attribute value in existing product REST API response for headless frontend
- Do not create any frontend files
- Follow Magento 2 coding standards
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:fra…